
spring:
  application:
    name: gateway-server
  config:
    import: optional:configserver:http://localhost:8000
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: admin-server
              uri: lb://ADMIN-SERVER
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=1

server:
  port: 8060
