spring:
  application:
    name: admin-server
  config:
    import: optional:configserver:http://localhost:8000
server:
  port: 9000


eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/